body {
	width: 600px;
	margin: 40px auto;
}
form {
	border: 2px solid grey;
	width: 600px;
	padding: 0 15px 30px 15px;
}
.red {
	background-color: pink;
}
.green {
	background-color: lightgreen;
	border: 1px solid black;
}